-
    var links = [
        {
            href: 'works.html',
            name: 'works',
            content: 'Мои работы'
        },
        {
            href: 'about.html',
            name: 'about',
            content: 'Обо мне'
        },
        {
            href: 'blog.html',
            name: 'blog',
            content: 'Блог'
        },
        {
            href: 'index.html',
            name: 'authorization',
            content: 'Авторизация',
            notSocial: true
        }
        ]