$asparagus: #6c9c5a;
$fermGreen: #4e8839;

$bush60: rgba(#122620, .6);
$desertStorm: #f8f9f5;
$greenWhite: #ebefe2;
$pampas: #f4f5f0;

$capeCode: #373e42;
$chicago: #566358;

$mobile-only: (max-width: 699px);
$width768: (min-width: 768px);
$width1200: (min-width: 1200px);
$width1800: (min-width: 1800px);

body {
  margin: 0;
  padding: 0;
}
ul {
  padding-left: 0;
}
ul li {
  list-style: none;
}

@mixin fonts($size, $weight, $height, $color) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  color: $color;
}

@mixin doubleTriangle($height, $color) {
  position: absolute;
  left: 0;
  bottom: 0;
  height: $height;
  width: 100%;
  background: linear-gradient(to right top, $color 50%, transparent 50%) no-repeat 0 0,
  linear-gradient(to left top, $color 50%, transparent 50%) no-repeat 100% 0;
  background-size: 50% 100%;
  z-index: 10;
}

@mixin arrow($width, $widthBorder, $rotate, $color, $bottom) {
  position: absolute;
  left: 50%;
  bottom: $bottom;
  width: $width;
  height: $width;
  border: $widthBorder solid $color;
  border-top-width: 0;
  border-right-width: 0;
  transform: translateX(-50%) rotate($rotate);
  cursor: pointer;
  z-index: 10;
}

@keyframes showWithOpacity {
  to {
    opacity: 1;
  }
}

@mixin showWithScaleAndOpacity() {
  animation-name: showWithScale, showWithOpacity;
  animation-duration: .2s, .4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@mixin showWithOpacity() {
  animation-name: showWithOpacity;
  animation-duration: .5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes showPrev {
  from {
    top: -100%;
  }

  to {
    top: 0;
  }
}

@keyframes showNext {
  from {
    top: 100%;
  }

  to {
    top: 0;
  }
}

@mixin showPrev(){
  animation-name: showPrev;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@mixin showNext(){
  animation-name: showNext;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@import "common/fonts";
@import "common/background";
@import "common/preloader";
@import "common/wrapper";
@import "common/burger-menu";
@import "common/_page-header";
@import "common/_index";
@import "common/_page-footer";
@import "common/authoriz";
@import "common/_page-main";
@import "common/welcome-section";
@import "common/social-btns";
@import "common/_btn";
@import "common/_flipper";
@import "common/global";
@import "common/info";
@import "common/_map";
@import "common/about-me";
@import "common/contact";
@import "common/_contacts";
@import "common/techno";
@import "common/_title";
@import "common/skills";
@import "common/_resume";
@import "common/reviews";
@import "common/public";
@import "common/slider";
@import "common/overlay";