footer.page-footer
    .page-footer__block
        .page-footer__wrapper
            .page-footer__message
                span.message Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
            .page-footer__menu-social
                .page-footer__down-menu
                    ul.menu-list
                        li.menu-item Мои работы
                        li.menu-item Обо мне
                        li.menu-item Блог
                        li.menu-item Авторизация
                .page-foote__social
                    ul.social-list
                        li.social-item.social-item--vk
                        li.social-item.social-item--github
                        li.social-item.social-item--activ.social-item--in
            .page-footer__citation
                p.citation__text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете. — Martin Goldin
    .page-footer__copyright
        h4 © Владимир Астахов | Создано с любовью в LoftSchool | 2016