header.page-header
    .page-header__wrapper
        section.l-section.l-hero
            ul.socials
                li.social__item
                    a.social__link
            .l-hero__bg
            .l-hero__container
                img.c-hero__title-pic
                .c-user
                    img.c-user__pic
                    .c-user__name
                    .c-user__occ