section.side-menu
    .side-menu__wrapper
        ul.side-menu-list
            li.side-menu-list__item
                a.side-menu-list__link.side-menu-list__link--activ(href="#") Самое важное в SASS
            li.side-menu-list__item
                a.side-menu-list__link(href="#") Приёмы в вёрстке, без которых не обходится ни один сайт
            li.side-menu-list__item
                a.side-menu-list__link(href="#") Самый необходимый набор Gulp плагинов
            li.side-menu-list__item
                a.side-menu-list__link(href="#") Почему я выбрал Jade
