.blog-content {
  color: #455a64;
  font-size: 16px;
  line-height: 26px;
  float: left;
}
.blog-message {
  width: 720px;
  border-bottom: solid 6px;
  border-color: #ecebe4;
  margin-bottom: 70px;
}
.message-title__text {
  font-family: "SansusWebissimo";
  font-size: 35.02px;
}
.message-text{
  margin-bottom: 26px;
}
.message-date {
  color: #4e8839;
}