.welcome-section {
  padding-top: 40px;
  text-align: center;
  width: 300px;
  background-color: $bush60;
  border-radius: 5px;
  backface-visibility: hidden;
  transition: 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  @media only screen and #{$width768} {
    width: 348px;
  }

  @media only screen and #{$width1200} {
    width: 380px;
  }
}