.public
    aside.public__nav
        = '\n'
        span.public__nav-btn
        ul.public__nav-items
    section.public__items


    template#template-navigation
        li.public__nav-item
            a(href='#')

    template#template-publication
        .public__item
            h2.public__title
            time.public__date
            .public__content