section.slider
    .slider__descs
        div(class='slider__desc')
            h4.title.title--small.title--slider
            ul.slider__techno
            = '\n'
            a(href='').slider__btn Посмотреть сайт
    .slider__img
        .slider__img
    .slider__controls
        .slider__control.slider__control--prev
        .slider__control.slider__control--next

